<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  </head>
  <body>
    <% include ./partials/header.ejs %>
    <main>
      <div class="card z-depth-5 editp">
        <div class="white">
            <img src="<%= posts.img %>" class=""/>
          <div class="h2">
            <h2> <%= posts.topic
            %></h2>
          </div>
            <p> <%= posts.body %></p><br/>
          <div class="h2">
            <h4>Edit your post</h4>
          </div>
          <form class="form-inline" action="/post/<%= posts.id%>?_method=PUT" method="POST">
            <label for="topic">Topic: </label>
            <input class="form-control button" type='text' name="topic" value="<%= posts.topic %>"><br/>
            <label for="body">body: </label>
            <input class="form-control button" type='text' name="body" value="<%= posts.body %>"><br/>
            <label for="body">img: </label>
            <input class="form-control button" type='text' name="img" value="<%= posts.img %>"><br/>
            <input class="submit form-control" type="submit" name="submit" value="submit">
          </form>
        </div>
      </div>
    </main>
    <% include ./partials/footer.ejs %>
  </body>
</html>
