<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>
    <% include ./partials/header.ejs %>
    <main class="text-left">
      <div class="container box effect2">
        <% for (let i = 0; i < post.length; i++) { %>
          <div class="card example z-depth-5">
          <div class="white">
          <a href="/post/<%= post[i].id %>"><img src="<%= post[i].img %>"/></a>
          <div class="h2">
          <a href="/post/<%= post[i].id %>">
          <h2><%= post[i].topic %></h2></a>
          </div>
          <p><%= post[i].body %></p>
          <small><p><%= post[i].created_at %></p></small>
          </div>
          </div>
          <% } %>
      </div>
        </main>
        <div class="push"></div>
          <% include ./partials/footer.ejs %>
          <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      </body>
      </html>
